{
    "env": {
      "browser": true,
    },
    "extends": "eslint-config-airbnb",
    "rules": {
      "jsx-a11y/anchor-is-valid": [ "error", {
        "components": [ "a" ],
        "specialLink": [ "hrefLeft", "hrefRight" ],
        "aspects": [ "noHref", "invalidHref", "preferButton" ]
      }],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}
